/* Estilo Global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}

a {
    position: relative;
    text-decoration: none; 
    color: #000000; 
    display: inline-block; 
  }
  
  a::after {
    content: '';
    position: absolute; 
    left: 0;
    right: 0; 
    bottom: -2px; 
    background-color: #1900ff; 
    height: 2px; 
    width: 0;
    transition: width 0.3s ease; 
  }
  
  a:hover::after {
    width: 100%; 

  }
  

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilo da Landing Page */
.landing-page header {
    min-height: 80px;
    display: flex;
}

@media (max-width: 767px) {
    .landing-page header {
        min-height: auto;
        display: initial;
    }
}

.landing-page header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .landing-page header .container {
        flex-direction: column;
        justify-content: center;
    }
}

.landing-page header .logo {
    color: #000000;
    font-style: italic;
    text-transform: uppercase;
    font-size: 28px;
}

@media (max-width: 767px) {
    .landing-page header .logo {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.landing-page header .links {
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {
    .landing-page header .links {
        text-align: center;
        gap: 10px;
    }
}

.landing-page header .links li {
    margin-left: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: .3s;
}

@media (max-width: 767px) {
    .landing-page header .links li {
        margin-left: auto;
    }
}

.landing-page header .links li:last-child {
    border-radius: 20px;
    padding: 10px 20px;
    color: #000000;
    background-color: #0d00ff;
}

.landing-page header .links li:not(:last-child):hover {
    color: #0d00ff; }

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}



/* Estilo do Pop-up de Contato */
section.contact-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section.contact-popup::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.contact-container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

.contact-container .contact-info {
    position: absolute;
    top: 28px;
    width: 350px;
    height: calc(100% - 50px);
    background: rgb(47, 0, 255);
    z-index: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
    border-radius: 22px;
}

.contact-container .contact-info h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.contact-container .info-list {
    position: relative;
    margin: 20px 0;
}

.contact-container .info-list li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 40px 0;
    cursor: pointer;
    align-items: flex-start;
}

.contact-container .info-list li span:nth-child(1) img {
    max-width: 100%;
    filter: invert(1);
}

.contact-container .info-list li span:nth-child(2) {
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}

.contact-container .social-icons {
    position: relative;
    display: flex;
}

.contact-container .social-icons li {
    list-style: none;
    margin-right: 15px;
}

.contact-container .social-icons li a {
    text-decoration: none;
}

.contact-container .social-icons li a img {
    filter: invert(1);
}

.contact-container .contact-form {
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: #fff;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
}

.contact-container .contact-form h2 {
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}

.contact-container .contact-form .form-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.contact-container .contact-form .form-box .input-box {
    position: relative;
    margin-bottom: 35px;
}

.contact-container .contact-form .form-box .input-box.w50 {
    width: 47%;
}

.contact-container .contact-form .form-box .input-box.w100 {
    width: 100%;
}

.contact-container .contact-form .form-box .input-box input,
.contact-container .contact-form .form-box .input-box textarea {
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.contact-container .contact-form .form-box .input-box textarea {
    height: 120px;
}

.contact-container .contact-form .form-box .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.contact-container .contact-form .form-box .input-box input:focus~span,
.contact-container .contact-form .form-box .input-box input:valid~span,
.contact-container .contact-form .form-box .input-box textarea:focus~span,
.contact-container .contact-form .form-box .input-box textarea:valid~span {
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(47, 0, 255);
}

.contact-container .contact-form .form-box .input-box input[type="submit"] {
    position: relative;
    cursor: pointer;
    background: rgb(47, 0, 255);
    border-radius: 20px;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;
}

.contact-container .contact-form .form-box .input-box input[type="submit"]:hover {
    background: rgb(36, 0, 119);
}

/* Responsividade do Pop-up de Contato */

@media (max-width: 1200px) {
    .contact-container {
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    }

    .contact-container .contact-info {
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
        border-radius: 0px;
    }

    .contact-container .contact-form {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;
        border-radius: 0px;
    }
}

@media (max-width: 991px) {
    section.contact-popup {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: #fff38e;
    }

    section.contact-popup::before {
        display: none;
    }

    .contact-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .contact-container .contact-form {
        width: 100%;
        height: auto;
        border-radius: 0px;
    }

    .contact-container .contact-info {
        width: 100%;
        height: auto;
        flex-direction: row;
        border-radius: 0px;
    }

    .contact-container .social-icons {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .contact-container .contact-form {
        padding: 25px;
    }

    .contact-container .contact-info {
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .contact-container .social-icons {
        margin-top: 40px;
    }

    .contact-container .contact-form .form-box .input-box.w50 {
        width: 100%;
    }
}


/* Estilo para o pop-up */
.popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    top: 150px;
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 1100px;
    border-radius: 20px;
    animation: fadeIn 0.3s;
}

.close {
    color: rgb(47, 0, 255);
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 10px;
}

.close:hover,
.close:focus {
    color: 00ffff;
    text-decoration: none;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header a {
    color: rgb(0, 0, 0);
}


#alinhar {
    margin-top: 59px;
    margin-left: 21px;
}

/* CARDS DA EQUIPE */
.row {
    display: flex;
    flex-wrap: nowrap; /* Impede quebra de linha */
    justify-content: center; /* Alinha o conteúdo no centro */
  }
  
  .column {
    flex: 0 0 22%; /* Cada coluna ocupa 22% do espaço disponível */
    max-width: 22%;
    padding: 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    padding: 0px;
    border-radius: 18px;
  }
  
  .card img {
    width: 100%;
    height: 500px; /* altura fixa */
    object-fit: cover; /* para manter a proporção */
    border-radius: 18px 18px 0 0; /* para bordas arredondadas no topo */
  }
  
  .container2 {
    padding: 16px;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 12px;
    color: white;
    background-color: #0400ff;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 12px;
  }
  
  .button:hover {
    background-color: #1200b4;
  }
  